/* Reset */
* {
  margin: 0px;
  padding: 0px;
}

/* Body */
body {
  font-family: 'Inter', sans-serif;
  background-color: white;
}

.navber {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
/* Body end */

/* logo */
.logo {
  justify-self: start;
}

.logo img {
  width: 160px;
  height: auto;
}
/* logo end */

/* Menu */
.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: #575757;
  font-size: 16px;
}

.menu a:hover {
  color: #1d4ed8;
}
/* Menu end */

/* Button */
.common-btn {
  padding: 10px 20px;
  background-color: #1d4ed8;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-btn button:hover {
  background-color: #0d308d;
}
/* Button end */

/* hero section */
.hero {
  height: 800px;
  background-image: url('/style.css/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.hero-content h2 {
  font-size: 80px;
  color: white;
  margin-top: 80px;
}

.hero-content p {
  color: white;
  font-size: 22px;
  padding: 10px;
}

.hero-content button {
  margin-top: 450px;
}

/* Speakers Section */
.speakers {
  padding: 80px 60px;
  background-color: whitesmoke;
}

.section-title {
  text-align: center;
  font-size: 56px;
  font-style: bold;
  margin: 50px;
}

.speaker-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.speaker-card {
  border: none;
}

.speaker-card img {
  border-radius: 20px;
}

.speaker-card p {
  color: #1d4ed8;
  font-size: 12px;
  font-style: bold;
  padding: 5px;
}

.speaker-card h2 {
  font-size: 20px;
  font-style: bold;
  padding: 5px;
}

.speaker-card span {
  font-size: 14px;
  font-style: bold;
  padding: 5px;
}
/* Speakers Section end */
